*{
    
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: black;
    color: white;  
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

p{
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    text-justify: auto;
}

ul{
    list-style-type: none;
}

h2{
    font-size: 100px;
}

h3{
    color: #575757;
}

.container{
    display: flex;
    /*flex-direction: row;
    justify-content: space-around;*/
    justify-content: flex-end;
    height: 100%;
    align-items: stretch;
    flex-wrap: wrap;
    position: relative;
    object-fit: contain;
    margin-left: 330px;
}

.container .title{
    flex: none;
    /* position: absolute; */
    /* padding-top: 0%;
    padding-right: 100%; */
}

header{
    /* flex: none;
    position: absolute; */
    /*justify-content: flex-start;*/
    /* justify-content: center; */
    background-image: url(images/klheader.png);
    background-size: cover;
    height: 632px;
    /* width: 1592px; */
    /* padding-right: 200px;
    padding-left: -1000px; */

}

.container .title h1{
    flex: none;
    position: absolute;
    padding-top: 432px;
    padding-left: 20%;
    background-color: transparent;
    font-size: 96pt;
    color: transparent;
    -webkit-text-stroke: 3px white;
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration: none;
}
nav{
    flex: 15%;
    position: fixed;
    width: 330px;
    top: 0;
    left: 0;
    background-color: #4767a4;
    height: 100vh;
}

.content{
    flex: 85%;
}

.nav{
    white-space: nowrap;
    
}

.nav img{
    background-color: transparent;
    max-width: 200px; 
    padding-top: 50px;
    padding-bottom: 20px;
}

.nav a{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4767a4;
    margin-bottom: 20px;
}

.nav .link{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4767a4;
}

.col1{
    /* flex: 1;
    padding-left: 250px;
    padding-top: 750px; */
    display: flex;
    margin-top: 300px;
    width: 100%;
}

.col1 div{
   flex: 1;
   
}

.col1 img{
    transform: rotate(90deg);
    flex: 1;
    /* display: flex; */
    max-width: 100%;
    padding: 0px 15px 0px -15px;
}

.col1 p{
    padding: 0% 5%;
}

.col2{
    /* flex: 1;
    padding-left: 250px;
    padding-top: 750px; */
    display: flex;
    margin-top: 300px;
    width: 100%;
}

.col2 div{
    flex: 1;
    
 }

/* .col2{
    flex: 1;
    padding: 0px 15px;
    padding-top: 750px;
} */

.col2 img{
    transform: rotate(90deg);
    flex: 1;
    display: flex;
    max-width: 100%;
}

.col2 p{
    padding: 0% 5%;
}

.col1pg{
    flex: 50%;
    /* padding-left: 250px; */
    padding: 40px;
}

.col1pg img{
    transform: rotate(-90);
    flex: 1;
    display: flex;
    width: 100%;
}

.col2pg{
    flex: 50%;
    padding: 0px 15px;
}

.col2pg img{
    transform: rotate(-90);
    flex: 1;
    display: flex;
    max-width: 100% ;
   
}

.img-grid{
    display: flex;
}

.img-grid div{
    flex: 50%;
}
img-grid { width: 100%; }

.img-foot{
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
}

footer{
    background-image:url('images/kllineup.png');
    transform: rotate(180deg);
    background-size: cover;
    background-position: center;
    height: 250px; 
    background-color: #192145;
    flex: 100%;
}