/* -------------------------------------- *
General Styles
* --------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: #ccc;
  padding: 12px;
}

img {width: 100%;}

body {
  background-image: url("../images/unsplashConcrete.jpg");
  background-repeat: no-repeat;
}

.grid-2{
  display: flex;
  margin-top: 60px;
  position: relative;
}

.grid-2 article {
  flex: 1;
  padding: 20px;
}

.grid-2 .content {
  margin-top: 80px;
  position: relative;
}

.content h2{
  font-family: 'Sansita Swashed', sans-serif;
  position: absolute;
  top: -30px;
  left: -50;
}

.gridcon {
  padding-top: 80 px;
}

.mainp1 {
  background-color: antiquewhite;
  border: 4px dotted #000;
  width: 80vw;
  min-height: 70vw;
  margin: auto;
  position: relative;
  margin-top:80px;
  display: flex;
  justify-content: center;
}

.banner-h1 {
  display: inline-block;
  min-width: 300px;
  border: 4px solid black;
  background-color: #fff;
  padding: 12px 28px;
  position: absolute;
  top: -30px;
  margin: 0;
}

.button {
  display: inline-block;
  background-color: #ff9900;
  border: 2px solid #ff9900;
  padding: 12px 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
  border-radius: 12px;
  
}

.button:hover {
 color: #ff9900;
 background-color: #fff;
}

.slider{
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid blue;
}

.slide-content {
  display: grid;
  /* grid-template-columns; */
}

.slide-content .text-content {
  margin-left: 20px;
}

.slide-content img {
  width: 100%;
}

.slick-initialized .slick-slide{
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
}

.button2{
  background-color: #ff0000;
  padding: 12px 16px;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  border: 2px solid #ff0000;
}

.button2:hover {
  /* background-color: #ff9900; */
  animation-name: button-hover;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes button-hover{
  from {background-color: #ff0000;
        color: white;}
  to {background-color: #ff9900;
      color: olive;}
}

.tokyorec{
  width: 400px;
  margin: 100px;
}

cls-4, cls-5, cls-6, cls-7, cls-8, cls-9, cls-10, cls-11, cls-12, cls-13, cls-14, cls-15, cls-16, cls-17{
  rotate: infinite;
}

#frontwheel{
animation: wheel 2s infinite linear;
transform-origin: center;
transform-box: fill-box;
}

#backwheel{
  animation: wheel 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

#manbike{
  animation: bike 1s ease-in-out infinite alternate;
  transform-origin: bottom;
}

#background{
  animation: bg 1s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel{
  from{
transform: rotateZ(0deg);
  }

  to{
    transform: rotateZ(360deg);
  }
}

@keyframes bike{
  from{
    transform: rotateX(0deg)
  }
  to{
    transform: rotateX(20deg)
  }
}

@keyframes bg{
  from{
transform: rotateZ(0deg);
opacity: 50;
  }
  to{
    transform: rotateZ(20deg);
    opacity: 100;
  }
}