@import url('https://fonts.googleapis.com/css2?family=Sarina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,800&display=swap');

*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
}

/* @media (max-width: 768px) {
    body {
      font-size: 15px;
      background-color: #f1f2f2;
      font-family: 'Montserrat Alternates', sans-serif;
    }
    h1{
        font-family: 'Sarina', cursive;
        color: #be1e2d;
    }
    /* .location{
        display: flex;
        margin-top: 300px;
        width: 100%;
        flex-direction: column; 
   } */

   .grid-2{
       display: flex;
       flex-direction: column;
   }

  @media (min-width: 768px) {
    body {
      background-color: #f1f2f2;
      font-family: 'Montserrat Alternates', sans-serif;
    }
    h1{
        font-family: 'Sarina', cursive;
        color: #be1e2d;
    }
    /* .location{
        flex-direction: row; */
    /* } */
    
    .grid-2{
        display: flex;
        flex-direction: row;
    }
    .grid-2 div{
        flex: 1;
    }

    .skull{
        animation: toggle 2s ease-in-out infinite alternate;
        transform-origin: center;
        transform-box: fill-box;
    }

    .cannon{
        animation: toggle 2s ease-in-out infinite alternate;
        transform-origin: center;
        transform-box: fill-box;
    }

    @keyframes toggle{
        from{
            transform: rotateZ(0deg);
        }
        to{
            transform: rotateZ(15deg);
        }
    }
  }

body{
    background-color: #f1f2f2;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1{
    font-family: 'Sarina', cursive;
    color: #be1e2d;
}

h2{
    font-family: 'Sarina', cursive;
    color: #be1e2d;
}

.logo{
    position: center;
    padding: 40px 100px;
    
}

.skull{
    transform: rotate(-9.5deg);
    margin: 15px;
}

.cannon{
    transform: rotate(29deg);
    margin: 15px;
}

.whiteboxright{
    background-color: white;
    padding: 15px 30px 15px 15px;
    margin: 30px 0px 30px 30px;
}

.whiteboxleft{
    background-color: white;
    padding: 15px 15px 15px 30px;
    margin: 30px 30px 30px 0px;
}

.location{
    display: flex;
    margin-top: 300px;
    width: 100%;
}

.locvert{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding: 0px 50px;
}

.box-2{
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0;
}

.box-2 label{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.my-form{
    padding: 20px;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display:block
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}

.my-form input[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

  a:hover {
    color: #aaa
  }

/* // Main Navigation Area */
#navigation {
  position: relative;
  background-color: #d2232a;
  /* box-shadow: 0 0 12px rgba(#000, 0.26); */
}

  /* // Menu */
  ul li {
      display: inline-block;}
     ul a {
        display: inline-block;
        padding: 30px 20px;
        font-size: 14px;
      }
      
      ul .current-item a {
        color: #000;
      }

  /* // Sliding Underline */
  #slide-line {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #ef682c;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }



/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: white;
    color: #d2232a;
    font-family: 'Sarina', cursive;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  /* Image Carousel */
  .slider{
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid blue;
  }
  
  .slide-content {
    display: grid;
    /* grid-template-columns; */
  }
  
  .slide-content .text-content {
    margin-left: 20px;
  }
  
  .slide-content img {
    width: 100%;
  }
  
  .slick-initialized .slick-slide{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }