body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	margin-bottom:57px;
}
p.ParaOverride-2 {
	margin-bottom:20px;
	text-align:justify;
	text-align-last:left;
}
p.ParaOverride-3 {
	margin-bottom:25px;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"Arial Black", sans-serif;
	font-size:100px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-2 {
	color:#ffffff;
	font-family:"Arial Black", sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-3 {
	font-family:"Arial Black", sans-serif;
	font-size:196px;
	font-style:normal;
	font-weight:900;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:Arial, sans-serif;
	font-size:35px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#575757;
	font-family:"Arial Black", sans-serif;
	font-size:40px;
	font-style:normal;
	font-weight:900;
}
#_idContainer000, #_idContainer011, #_idContainer022, #_idContainer035, #_idContainer048 {
	display:inline-block;
	height:1079px;
	position:relative;
	width:1919px;
}
#_idContainer001 {
	display:inline-block;
	height:3240px;
	position:relative;
	width:334px;
}
#_idContainer002 {
	display:inline-block;
	height:3240px;
	position:relative;
	width:1920px;
}
#_idContainer003, #_idContainer014, #_idContainer025, #_idContainer038, #_idContainer051 {
	display:inline-block;
	height:135px;
	position:relative;
	width:1920px;
}
#_idContainer005 {
	display:inline-block;
	height:630px;
	width:1586px;
}
#_idContainer008, #_idContainer010 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:630px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:763px;
}
#_idContainer009 {
	-ms-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:229px;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:1397px;
}
#_idContainer012, #_idContainer036 {
	display:inline-block;
	height:2015px;
	position:relative;
	width:334px;
}
#_idContainer013, #_idContainer037 {
	display:inline-block;
	height:2015px;
	position:relative;
	width:1920px;
}
#_idContainer017, #_idContainer034, #_idContainer041, #_idContainer060 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:630px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:602px;
}
#_idContainer021 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:630px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:607px;
}
#_idContainer023, #_idContainer049 {
	display:inline-block;
	height:2036px;
	position:relative;
	width:334px;
}
#_idContainer024, #_idContainer050 {
	display:inline-block;
	height:2036px;
	position:relative;
	width:1920px;
}
#_idContainer028, #_idContainer032, #_idContainer045, #_idContainer047, #_idContainer054, #_idContainer058 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:306px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:292px;
}
#_idContainer029, #_idContainer046, #_idContainer055 {
	-ms-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:50% 50%;
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:50% 50%;
	display:inline-block;
	height:630px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:50% 50%;
	transform-origin:50% 50%;
	width:292px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-color:#8ff0ff;
}
div._idGenObjectStyleOverride-2 {
	background-color:#4767a4;
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyleOverride-4 {
	background-color:#192145;
	border-width:0px;
}
div._idGenObjectStyleOverride-5 {
	border-width:0px;
}
div._idGenObjectStyleOverride-6 {
	background-color:#575757;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	margin:66px -66px 66px -66px;
}
div._idGenObjectLayout-3 {
	margin:-14px 14px -14px 14px;
}
div._idGenObjectLayout-4 {
	margin:-11px 11px -11px 11px;
}
div._idGenObjectLayout-5 {
	margin:-7px 7px -7px 7px;
}
div._idGenObjectLayout-6 {
	margin:-169px 169px -169px 169px;
}
